{{ define "main" }}
<div class="row">
<div class="col-md-8">
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
  </header>

  <div class="post-content">
    {{ .Content }}
  </div>

</article>
</div>
{{ partial "sidebar.html" . }}
</div>

{{ end }}