<footer>
    <div class="container">
        <div class="row p20">
            {{- with .Site.Params.copyright }}
            <div class="col-md-4 text-center mt25">{{ .text }} <a target="_blank" href="{{ .link }}">{{ .name }}</a>
            </div>
            {{- end }}
            <div class="col-md-4 text-center mt25">
                {{- if and (.Site.Params.copyright.licenseURL) (.Site.Params.copyright.license) }}
                <a rel="license" target="_blank" href="{{ .Site.Params.copyright.licenseURL }}"><img alt="{{.Site.Params.copyright.license}}" src="/images/CC/{{.Site.Params.copyright.license}}.svg" ></a>
                {{- else }}
                {{ .Site.Copyright | safeHTML }}
                {{- end }}
                {{- with .Site.Params.carbonbadge }}
                <div id="wcb" class="{{ . }}"></div>
                <script defer src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" crossorigin="anonymous"></script>
                {{- end }}
            </div>
            <div class="col-md-4 text-center mt25">
                <a href="/etiquetas">Etiquetas</a> y
                <a href="/taxonomias">Taxonomías</a>
            </div>
        </div>
    </div>
</footer>
