<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Title}}{{if .IsPage}} | {{.Site.Title}}{{ end }}</title>
{{- with resources.Get "sass/main.scss" }}
    {{- $opts := dict "transpiler" "dartsass" "outputStyle" "compressed" "enableSourceMap" "true" }}
    {{- with . | toCSS $opts }}
        {{- if hugo.IsDevelopment }}
<link rel="stylesheet" href="{{ .RelPermalink }}" crossorigin="anonymous">
        {{- else }}
            {{- with . | fingerprint }}
<link rel="preload" href="{{ .RelPermalink }}" as="style" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" >
            {{- end }}
        {{- end }}
    {{- end }}
{{- end }}
<link rel="preload" href="/css/fontawesome-free-6.5.2-web/css/fontawesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/css/fontawesome-free-6.5.2-web/css/fontawesome.min.css"></noscript>
<link rel="preload" href="/css/fontawesome-free-6.5.2-web/css/brands.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/css/fontawesome-free-6.5.2-web/css/brands.min.css"></noscript>
<link rel="preload" href="/css/fontawesome-free-6.5.2-web/css/solid.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/css/fontawesome-free-6.5.2-web/css/solid.min.css"></noscript>
{{ range .Site.Params.custom_css -}}
    <link rel="preload" href="/{{ . }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/{{ . }}"></noscript>
{{- end }}
{{ range $index, $element := .Site.Params.relfeeds -}}
    <link rel="alternate" type="application/rss+xml" title="Feed {{ $index }}" href="{{ $element }}" >
{{- end }}

{{partial "seo.html" .}}

{{- partial "favicon.html" . -}}

</head>
