<header class="site-header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header col-md-4">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ "/" | absURL }}">{{ .Site.Title }}</a>
      </div>
      <div class="col-md-4 text-center">
        <ul class="nav nav-pills center-pills navbar-btn">
          {{- range .Site.Params.social }}
          <li class="social {{ .red }}"><a target="_blank" href="{{ .href }}" aria-label="{{ .red }}"><i class="{{ .icon }}" title="{{ .red }}" aria-hidden="true"></i></a></li>
          {{- end }}
        </ul>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {{- range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absLangURL }}" {{if not .Name}} aria-label="{{.Title}}" {{end}}>{{ .Pre }}<span>{{ .Name }}</span></a>
          </li>
          {{- end }}
          {{ if gt (len .Site.Menus.feeds) 1 }}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Feeds RSS<span class="caret"></span></a>
            <ul class="dropdown-menu">
          {{- end }}
              {{- range .Site.Menus.feeds }}
              <li class="nav-item">
                <a class="nav-link" href="{{ .URL | absURL }}">{{ .Pre }}<span>{{ .Name }}</span></a>
              </li>
              {{- end }}
            {{- if gt (len .Site.Menus.feeds) 1 }}  
            </ul>
          </li>
          {{- end }}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>