{{/* Comentarios de Mastodon si hay SocialInteract URI */}}
{{- $siURI := or .Page.Params.si.uri .Page.CurrentSection.Params.p20.accountUrl }}
{{- if $siURI }}
    {{ $u := urls.Parse $siURI }}
    {{ $uu := split $u "/" }}
    {{- $host := $u.Hostname }}
    {{- $user := trim (index $uu 3) "@" }}
    {{- $tootId := index $uu 4 }}
    <script defer src="{{ "js/mastodon-comments.js" | absURL }}"></script>
    <mastodon-comments host="{{ $host }}" user="{{ $user }}" tootId="{{ $tootId }}" style="width: 700"></mastodon-comments>
{{- end }}