{{- $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}
{{- /* $paginator := .Paginate (where .Data.Pages "Type" "posts")  */ -}}
{{- range $paginator.Pages }}
    <div class="col-md-4 card">
        <a href="{{ .Permalink }}" class="index-anchor">
        <div class="panel panel-default">
            {{- if .Params.img }}
                {{- with .Resources.Match .Params.img }}
                    {{- range . }}
                    <img src="{{ .RelPermalink }}" alt="{{ if isset .Params "imgalt" }}{{.Params.imgALT}}{{else}}{{.Title}}{{end}}">
                    {{- end }}
                {{- else }}
            <img src="{{ .Site.BaseURL }}images/{{ .Params.img }}" alt="{{ if isset .Params "imgalt" }}{{.Params.imgALT}}{{else}}{{.Title}}
            {{end}}">
                {{- end }}
            {{- else }}
            <img src="{{ .Site.BaseURL }}images/{{ .Site.Params.defaultImage }}" alt="{{ .Site.Params.defaultImageALT }}">
            {{- end }}
            <div class="panel-body">
                <h2 class="panel-title pull-left">{{ .Title | truncate 25 }}</h2><span
                    class="post-meta pull-right"><small>{{ if .Site.Params.date_format }}{{ .Date.Format
                        .Site.Params.date_format }}{{else}}{{ .Date.Format "January 2, 2006" }}{{end}}</small></span>
            </div>
            <div class="panel-body"><small>
                    {{ .Summary | plainify | truncate 180 }}</small>
            </div>
        </div>
    </a>
</div>
{{- end }}