<div class="col-md-4 mt20">
    <aside class="post-img visible-md-block visible-lg-block">
    {{-  if .Params.img }}
        {{- with .Resources.Match .Params.img }}
            {{-  range . }}
        <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
            {{-  end }}
        {{- else }}
        <img src="{{ .Site.BaseURL }}images/{{ .Params.img }}" alt="{{ if isset .Params "imgalt" }}{{.Params.imgALT}}{{else}}{{.Title}}
        {{end}}">
        {{- end }}
    {{- else }}
        <img width="600" src="{{ .Site.BaseURL }}images/{{ .Site.Params.defaultImage }}" alt="{{ .Site.Params.defaultImageALT }}">
    {{ end }}
    </aside>
    {{- if .Params.participantes }}
    <aside class="personContainer">
        <h2>Participantes:</h2>
        <div class="persons">
        {{- range .Params.participantes }}
            <div class="person">{{- with .href }}<a href="{{ . }}">{{end}}
                <img src="{{ .img | default "/images/logo-ATL-opt.png" }}" alt=" " class="photo">
                <div class="name">{{ .person }}</div></a><div class="role">{{ .role }}</div>
            </div>
        {{- end }}
        </div>
    </aside>
    {{- end }}
    <aside class="mt10 recent">
        <h2>Últimos episodios:</h2>
        <ul>
            {{- range first 3 (where .Site.RegularPages "Section" "posts") }}
            <li>
                <p><a href="{{ .Permalink }}">{{ .Title }}</a><small>&nbsp;&nbsp;{{ if .Site.Params.date_format }}{{
                        .Date.Format .Site.Params.date_format }}{{else}}{{ .Date.Format "January 2, 2006" }}
                        {{end}}</small></p>
            </li>
            {{- end }}
        </ul>
    </aside>
    <aside class="mt10 recent">
        <h2>Etiquetas:</h2>
        {{- partial "taxs/single-page-tags.html" . -}}
    </aside>
    <br>
</div>
