{{- $mime := .Get "mime" -}}
{{- $aext := "mp3" }}
{{- if .Page.Params.podcast.olength }}
    {{- $aext = "ogg" }}
{{- end }}
<!-- Here is the embedded player -->
<figure {{ with .Get "class" }}class="{{ . }}"{{- end -}}>
    {{- with .Get "caption" }}<figcaption>{{ . }}</figcaption>{{- end }}
    <audio id="vttplayer" controls crossorigin preload="{{ .Get "preload" | default "none" }}" 
{{- with .Get "src" }}>
        <source src="{{ . | relURL }}" type="{{ $mime | default "audio/mpeg" }}" >
{{- else }} src="{{.Page.Params.podcast.URLprefix | default .Page.CurrentSection.Params.URLprefix}}{{.Page.Params.podcast.URLhost | default .Page.CurrentSection.Params.URLhost}}{{ .Page.Params.podcast.audio }}.{{ $aext }}" >
{{- end -}}
{{- if .Page.Params.transcript }} {{$vtturl := index (.Page.Params.transcript) 0 }}
        <track default src="{{ $vtturl.trurl }}" >
{{- end }}
    </audio>
    <div id="vtt"></div>
</figure>
<script>document.getElementById('vttplayer').textTracks[0].addEventListener('cuechange', function() {document.getElementById('vtt').innerText = this.activeCues[0].text;});</script>
<!-- Here ends the embedded player -->
{{- /*
    {{- $poster := .Page.Params.img }}
    {{- if $poster }}poster="{{.Site.BaseURL }}images/{{$poster}}"{{- end -}}
*/ -}}
