body, .dropdown-menu {
  background-color:#232629; /* Fondo general */
  color: #eff0f1; /* Texto general */
}

a { color: #54a3d8; } /* Enlaces */

.social {
  padding: 0%;
  margin: 0%;
  font-size: 1.2em;
}

.panel-body > small, /* Texto descripción episodios en portada */
#search-query { /* Texto dentro del buscador */
  color: black;
}
/* https://web.dev/color-contrast/?utm_source=lighthouse&utm_medium=devtools */

.center-pills { display: inline-block; }

/* Texto Nombre Podcast */
.navbar-default .navbar-brand{
  color: #8AB1F4;
}
/* Texto Navegadción a la derecha */
.navbar-default .navbar-nav>li>a {
  color: #8AB1F4;
  font-size: 1.5em;
}

.row .logo {
  display:block;
  width: 40%;
  height: 40%;
  max-width:500px;
}

.panel-title {
  color: #155C8E;
  font-size: 1.18em;
}

/* Fecha en principal */
.post-meta > small {
  color: #7D4E0C;
}

/* Fecha y autor en single.html */
.post-meta {
  color: #CBAE7C;
}

li ul{
  margin-bottom:11px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #155C8E;
  cursor: default;
  background-color: #FFFFFF;
  border-color: #54a3d8;
}

.pagination {
  font-size: 1.5em;
}

.pagination>li>a, .pager>li>span {
  padding: 6px 15px;
  color: #000000 ;
  line-height: 1.9;
}

footer {
  background-color: #155C8E;
   color: #ffffff; /* Texto en el footer */
  font-size: 18px;
}

footer a {
  color: #ffffff; /* Enlaces en el footer */
  font-size: 24px;
}

details {
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  /*font-weight: bold;*/
  color: #54a3d8;
  cursor: pointer;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  display: inline-block;
  content: '▶️';
}

/* Create a new custom triangle on the right side */
summary::after {
  margin-left: 1ch;
  display: inline-block;
  content: '▶️';
  transition: 0.2s;
}

details[open] > summary::after {
  transform: rotate(90deg);
}
/* Fin triangulo */

details[open] {
  padding: 0.5em;
  border: 1px solid #aaa;
  animation: animateDown 0.4s linear forwards;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;

}
@keyframes animateDown {
  0% {
    opacity: 0;
    transform: translatey(-15px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

#vtt {
  color:yellow;
  font-size: 1.4em;
}

/*
https://brightside.me/article/the-ultimate-color-combinations-cheat-sheet-92405/
*/
