<!DOCTYPE html>
<html{{ with site.LanguageCode | default site.Language.Lang }} lang="{{ . }}"{{ end }} prefix="og: https://ogp.me/ns#">

{{ partial "head.html" . -}}

<body>

  {{ partial "header.html" . -}}

  <main class="container">
    <div class="wrapper">
      {{/*{{ partial "logo.html" . }} */}}
      {{- block "main" . -}} {{ end }}
    </div>
  </main>

  {{ partial "footer.html" . }}

  <script defer src="{{ "js/jquery-3.5.1.min.js" | absURL }}"></script>
  <script defer src="{{ "js/bootstrap.min.js" | absURL }}"></script>

  {{- with .Site.Params.analytics -}}
  {{- partial "analytics.html" . }}
  {{- end -}}

  {{- block "footerfiles" . }} {{ end }}
</body>

</html>
