{{- define "main" -}}
<div class="home">
  <h1 id="list_desc">{{ .Description }}</h1>
  <div class="row pack">
    {{- partial "sec_list.html" . -}}
  </div>
  <div class="row">
    <div class="col-md-4"> </div>
    <div class="col-md-4">
      {{ template "_internal/pagination.html" . -}}
    </div>
    <div class="col-md-4"> </div>
  </div>
</div>
{{- end }}