{{- define "main" -}}
<div class="row">
  <div class="col-md-8">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
        {{/* NO auto format */}}
{{- $ISO8601 := .Site.Params.fmt.ISO8601 }}
        <p class="post-meta">Creado el
          <time {{ .Date.Format $ISO8601 | printf "datetime=%q" | safeHTMLAttr }} itemprop="datePublished" {{ .Date.Format $ISO8601 | printf "content=%q" | safeHTMLAttr }}>
            {{- if .Site.Params.date_format }}{{ .Date.Format .Site.Params.date_format }}{{else}}{{ .Date.Format "January 2, 2006" }}{{end}}</time>
            {{- with .Lastmod }} y modificado el
            <time {{ .Format $ISO8601 | printf "datetime=%q" | safeHTMLAttr }} itemprop="dateModified" {{ .Format $ISO8601 | printf "content=%q" | safeHTMLAttr }}>
              {{- if $.Site.Params.date_format }}{{ .Format $.Site.Params.date_format }}{{else}}{{ .Format "January 2, 2006" }}{{end}}</time>{{- end }}
            {{- with .Params.Author }} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ . }}</span></span>{{ end }}
            {{- with .WordCount }} • <span itemprop="wordCount">{{ . }} palabras</span>{{ end }}</p>
      </header>
      {{ if .Params.img }}
      <div class="img visible-sm-block visible-xs-block ">
        <img class="center-block" width="270" src="{{ .Site.BaseURL}}images/{{ .Params.img }}" alt="{{ if isset .Params "imgalt" }}{{.Params.imgALT}}{{else}}{{.Title}}
        {{end}}">
      </div>
      {{- end }}
      <div class="post-content" itemprop="articleBody">
        {{- .Content -}}
      </div>
    </article>
    {{- partial "mastodon-comments.html" . }}
    {{- if .Site.Params.hashover }}
    <div class="row">
        {{ partial "hashover.html" . }}
    </div>
    {{- end }}
    <div class="row">
      <ul class="pager">
        {{- with .Next }}
          <li><a class="next" href="{{ .Permalink }}">&laquo; {{ .Title }}</a></li>
        {{- end }}
        {{- with .Prev }}
          <li><a class="previous" href="{{ .Permalink }}">{{ .Title }} &raquo;</a></li>
        {{- end }}
      </ul>
    </div>
  </div>
  {{ partial "sidebar.html" . }}
</div>
{{- end }}
