<div class="row visible-md-block visible-lg-block">
    <!-- full logo version with slogan, icon and text, add the class .ts-full if you want to work with some of the existing CSS -->
    <a href="/" class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 677.61096 179.54858" class="ts-full"
            id="svg16">
            <defs id="defs20" />
            <g transform="translate(-49.00717,-350.11674)" id="g14">
                <text id="text3851" x="195" y="425"
                    style="font-style:normal;font-variant:normal;font-weight:900;font-stretch:normal;font-size:71px;line-height:0%;font-family:Roboto;-inkscape-font-specification:'Roboto, Heavy';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill:#000000;fill-opacity:1;stroke:none"
                    xml:space="preserve">
                    <tspan style="fill:#ff6600" x="180" y="425" id="tspan827">Podcast Linux</tspan>
                </text>
                <text xml:space="preserve" x="452" y="466"
                    style="font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;font-size:33px;line-height:0%;font-family:Roboto;-inkscape-font-specification:'Roboto, Light';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.25758827"
                    id="text3855">
                    <tspan id="tspan3857" x="440" y="466"
                        style="font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;font-size:33px;line-height:125%;font-family:Roboto;-inkscape-font-specification:'Roboto, Light';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;writing-mode:lr-tb;text-anchor:middle;stroke-width:1.25758827"
                        class="slogan">El podcast del mundo GNU/Linux</tspan>
                    <tspan x="445" y="502"
                        style="font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;font-size:33px;line-height:125%;font-family:Roboto;-inkscape-font-specification:'Roboto, Light';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;writing-mode:lr-tb;text-anchor:middle;stroke-width:1.25758827"
                        id="tspan873" class="slogan">para amantes del Software Libre</tspan>
                </text>
                <g style="display:inline;fill:#ff6600;fill-opacity:1"
                    transform="matrix(0.76591289,-0.01941089,0.04222543,0.78057668,67.458103,190.38782)" id="g4432-3">
                    <g transform="matrix(1.1308891,0,0,1.1308891,-2.2031766,-23.419267)"
                        style="fill:#ff6600;fill-opacity:1" id="g4461-6">
                        <path id="path4463-7"
                            d="m 44.086201,394.39048 c -1.410963,1.54915 -4.069265,-0.58742 -5.900535,0.24696 -2.14482,0.97725 -10.653692,-2.53119 -11.617532,-3.83911 -0.41478,-0.56285 -2.99859,-1.64574 -5.74179,-2.4064 -5.62229,-1.55902 -6.20163,-1.97296 -7.31617,-5.2276 -0.7207,-2.10456 -1.05455,-2.31003 -3.6161404,-2.22567 -1.55217,0.0511 -4.61212,0.77275 -6.79989,1.60365 -4.51448,1.71456 -10.5112687,2.36966 -7.9032791,0.75231 5.51525002,-3.42031 5.37073914,-8.82928 7.8852091,-16.13771 3.46449,-10.06972 4.0587957,-14.10133 3.98691,-36.93714 -0.038515,-12.235 0.6708499,-23.55228 0.6708499,-23.55228 0,0 1.0057699,-6.20275 1.2516503,-7.49552 0.39877,-2.09667 1.3516902,-3.30553 -0.1229202,-3.30553 -2.50486,0 -15.30758,8.87427 -19.3564996,13.41704 -1.96666,2.20656 -5.31624,7.08764 -7.44351,10.84684 -2.12726,3.75921 -4.10879,6.83492 -4.40341,6.83492 -0.9939,0 -1.5214,-5.20438 -1.12043,-11.05438 0.83276,-12.14985 8.01423,-21.92163 25.1089796,-34.16563 10.8304004,-7.7572 19.1688304,-14.0527 21.7503904,-19.14717 2.93922,-5.80027 5.146548,-5.9653 7.431368,-20.68837 1.14757,-7.3948 0.813972,-23.44128 1.424972,-24.62282 1.69534,-3.27844 5.52295,-6.75206 9.53242,-8.65083 2.780027,-1.65255 7.32167,-2.22417 11.621216,-1.41554 0,0 1.413464,0.4331 2.690734,1.11695 1.27726,0.68386 3.29865,1.77938 4.49197,2.4345 1.19333,0.65513 3.49309,1.19314 5.11058,1.19559 3.5758,0.005 11.30651,1.35927 12.09648,2.11841 0.31506,0.30276 -1.52845,1.58492 -4.09668,2.84925 -5.47289,2.6943 -11.519261,4.49473 -12.223701,8.24969 -0.65191,3.475 -5.902548,21.72881 4.646609,36.35253 l 6.761592,9.37323 5.81533,6.14965 c 7.22718,7.64267 9.99803,11.64694 12.38257,17.89461 2.4969,6.54208 4.550173,32.39048 2.837523,38.93708 -1.47725,5.64676 -3.88394,10.57612 -4.74186,9.7122 -0.34326,-0.34566 -0.969294,-2.79616 -1.3914,-5.44554 -1.527634,-9.58829 -9.339371,-39.73653 -11.043167,-41.32493 -1.091858,-1.01791 -6.159021,-12.56873 -7.211969,-0.77646 -1.449357,16.23178 -9.670747,53.65595 -17.612815,69.39407 -0.909538,1.80235 -2.519179,3.55409 -3.323946,5.24438 -3.801061,7.98354 7.862304,9.66944 16.366104,10.31259 4.43898,0.33571 5.96016,0.77021 7.63735,2.18148 2.65653,2.23532 2.69755,3.76445 0.10547,3.93172 -7.23372,0.46679 -11.05517,0.30847 -13.76661,-0.57036 -1.70444,-0.55244 -4.89239,-1.00444 -7.08434,-1.00444 -4.1685,0 -5.32192,-0.71662 -8.37184,-5.20142 -3.06389,-4.50534 -16.44832,-4.63435 -17.09563,-0.16478 -0.34326,2.37011 2.00444,3.769 9.65356,5.75217 8.6664,2.24691 10.568881,5.73906 10.568881,5.73906 z"
                            style="fill:#ff6600;fill-opacity:1" />
                    </g>
                </g>
            </g>
        </svg>
    </a>
</div>